.rightArrowButton {
    width: 72px;
    height: 72px;
    background-color: var(--light-green);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightArrowButton:hover {
    background-color: var(--normal-green);
}

.rightArrowButton:active {
    background-color: var(--dark-green);
}

.rightArrow{
    color: var(--black);
}

.rightArrow:hover {
    color: var(--white);
}

.rightArrow:active {
    color: var(--white);
}