.favouriteButtonContainer{
    text-decoration: none;
}

.favouriteButton {
    width: 350px;
    height: 172px;
    background-color: var(--light-green);
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 32px;
}

.favouriteText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 127px;
    width: 174px;
    gap: 8px;
}

.favouriteText p {
    margin: 0;
    text-align: left;
}

.title {
    font-size: var(--font-button);
    font-weight: bold;
}

.text {
    font-size: var(--font-body);
    width: 166px;
}

.graphic {
    border-radius: 30px;
}

