.favouriteButtonContainer{
    text-decoration: none;
}

.favouriteButton {
    width: 290px;
    height: 172px;
    background-color: var(--white);
    border-radius: 30px;
    border: 3px solid var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 32px;
    text-decoration: none;
    color: var(--black);
    overflow: hidden;
}

.mascot {
    position: relative;
    left: 40px;
    top: 40px;
    transform: rotate(-12.156deg);
}

.favouriteText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 127px;
    width: 174px;
    gap: 8px;
    position: relative;
    left: 30px;
}

.favouriteText p {
    margin: 0;
    text-align: left;
}

.title {
    font-size: var(--font-button);
    font-weight: bold;
}

.text {
    font-size: var(--font-body);
    width: 166px;
}

.graphic {
    border-radius: 30px;
}

