.button {
    width: 280px;
    height: 64px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-green);
    color: var(--black);
    font-size: var(--font-button);
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: var(--normal-green);
    color: var(--white);
}

.button:active {
    background-color: var(--dark-green);
    color: var(--white);
}
