.searchContainer {
    display: flex;
    justify-content: center;

}
.inputBox {
    width: 330px;
    height: 55px;
    border-radius: 20px;
    border: 2px solid var(--black-green);
    background-image: url('/images/search.svg');
    background-position: 10px 13px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: 'DM Sans';
}
.inputBox:focus {
    border: 1px solid var(--light-green);
}
.searchResult {
    width: 399px;
    height: 566px;
    background-color: var(--white);
    position:absolute;
    top: 200px;
    border-radius: 30px;
    border: solid 3px var(--dark-green);
    z-index: 1;
}
.searchResult h2 {
    font-size: var(--font-subheading);
    margin: 1rem;
}
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem;
}
.meditationCardsOuterContainer {
    overflow-y: auto;
    min-height: 491.8px;
    max-height: 491.8px;
}
.meditationCardsInnerContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 3.5rem;
}
