.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.thumbnail {
    max-width: 128px;
    max-height: 128px;
    border-radius: 30px;
}
.heart {
    margin: 85px 14px 14px 85px;
}
.text p{
    font-size: var(--font-small-body);
    margin: 0;
}