.calendarCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: var(--white);
    padding: 8px 13px 13px 13px;
    text-decoration: none;
    color: var(--black);
    border: 3px solid var(--normal-green);
}

.calendarDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.weekday{
    font-size: var(--font-body);
    margin: 0;
}

.day {
    font-size: var(--font-heading);
    margin: 0;
}


.moodIcon {
    width: 40px;
    height: 40px;
}