.cardContainer {
    width: 368px;
    height: 112px;
    background-color: var(--normal-green);
    border-bottom: 1px solid var(--white);
}
.cardInnerContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 42px;
}
.thumbnail {
    max-width: 88px;
    max-height: 88px;
    border-radius: 20px;
    margin: 12px;
}
.thumbnailInner {
    width: 88px;
    height: 88px;
}
.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text p{
    font-size: var(--font-body);
    margin: 0;
}
.saveIcon {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}