.meditationContainer {
    display: flex;
    flex-direction: column;
}
.meditation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 56px;
}
.singleLabel {
    width: 55px;
}
.singleLabel p {
    text-align: center;
    font-size: var(--font-body);
    margin: 0.5rem;
}