.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.thumbnailInner {
   width: 128px;
   height: 128px;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 10px;
}
.text p{
    font-size: var(--font-small-body);
    margin: 0;
}
.saveIcon {
    width: 30px;
    height: 30px;
}