.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.thumbnail {
    width: 128px;
    height: 128px;
    border-radius: 30px;
    background-size: 128px 128px;
}
.cardContainer:hover .thumbnail{
    opacity: 80%;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 10px;
}
.text p{
    font-size: var(--font-small-body);
    margin: 0;
    max-width: 90px;
}
.saveIcon {
    width: 20px;
    height: 20px;
}