.popupWrapper {
  position: fixed;
  top: -95px;
  left: 6px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupWrapper a {
  text-decoration: none;
  color: var(--black);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 432px;
  height: 934px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1001;
}

.popup {
  background-color: white;
  width: 322px;
  height: 672px;
  border-radius: 30px;
}

.closeButton {
    /* margin-top: none;
    margin-left: 281px; */
    position: absolute;
    margin: 24px 24px 0 274px;
    border: none;
    outline: none;
    background: transparent;
}

.settings {
    font-size: var(--font-subheading);
    margin: 48px 121px 0 121px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-family: var(--font-small-body);
}

.moreSettings {
  color: var(--black);
}

