.popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.popup {
  background-color: white;
  width: 322px;
  height: 672px;
  border-radius: 30px;
  z-index: 1; 
}

.closeButton {
    /* margin-top: none;
    margin-left: 281px; */
    position: absolute;
    margin: 24px 24px 0 274px;
    border: none;
    outline: none;
    background: transparent;
}

.settings {
    font-size: var(--font-subheading);
    margin: 48px 121px 0 121px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-family: var(--font-small-body);
}
