.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic {
    width: 288px;
    height: 288px;
    background-color: var(--light-gray);
    margin: 68px 0 33px 0;
    border-radius: 30px;
}

.text {
    margin: 0 71px 66px 71px;
    font-size: var(--font-body);
    height: 480px;
}

.onboardingTitle {
    margin: 0 0 5px 0;
    font-size: var(--font-heading);
    font-weight: 300;
}

.onboardingText {
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 79px 0 19px 0;
}

.dotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 125px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: var(--light-gray);
    border-radius: 100%;
}

.dotActive {
    background-color: var(--normal-green);
    width: 38px;
    height: 12px;
    border-radius: 20px;
    border: none;
}