.button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: center; */
    gap: 10px;
    align-items: center;
    width: 268px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--light-gray);
    border: none;
    margin: 8px;
    font-family: var(--font-button);
}
.button:hover {
    background: #C2C2C2;
}
.button:active:focus {
    background-color: var(--light-green);
}

.iconAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* width: 70%; */
}
.icon {
    /* padding: 13px; */
    padding-right: 21px;
    padding-left: 14px;
} 

.title {
    text-align: left;
    padding-left: 20px;
}

.toggle {
    position: relative;
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownContent {
    display: none; /* Initially hides the dropdown content */
    background-color: var(--white);
    border-radius: 20px;
    border: 2px solid var(--light-green);
    text-align: left;

    position: absolute;
    /* left: 18.5%; */
    z-index: 100; 
    width: 265px;
    margin-top: -1%;
    margin-left: 8.6px;
    font-family: var(--font-button);
}

.dropdownContent.active {
    display: block; 
}


.dropdownContent span {
    margin-left: 5%;
}

.activeButton {
    background-color: var(--light-green);
}
.activeButton:hover {
    background-color: var(--light-green);
}