.input {
    width: 292px;
    height: 61px;
    border-radius: 10px;
    border: 1px solid var(--brown);
    margin-bottom: 17px;
    padding: 0 22px;
    font-size: var(--font-body);
    color: var(--black);
    font-family: 'DM Sans', sans-serif; 
}

.input::placeholder {
    font-family: 'DM Sans', sans-serif; 
    color: #888; 
}

.invalid {
    border: 2px solid red;
}