.input {
    width: 292px;
    height: 61px;
    border-radius: 10px;
    border: 1px solid var(--brown);
    margin-bottom: 17px;
    padding: 0 22px;
    font-size: var(--font-body);
    color: var(--black);
}