.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    min-height: 20vh;
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
  
  .homeTitle {
    /* font-family: 'Quicksand', sans-serif; */
    font-size: var(--font-logo);
    margin-top: 20%;
  }
  
  .appIntro {
    width: 75%;
    margin: 39px 0 50px 0;

    background-color: var(--white);
    border-radius: 30px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  