.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .homeTitle {
    font-size: var(--font-subheading);
    margin: 1rem;
  }
  
  .appIntro {
    background-color: var(--white);
    border-radius: 30px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  .appIntro h2 {
    font-size: var(--font-subheading);
    margin: 0;
  }