

:root {
    /* Global Colours */
    --background-gray: #f3f3f3;
    --light-gray: #d9d9d9;
    --normal-green: #627952;
    --white: #fff;
    --light-green: #9db580;
    --light-beige: #eee1cc;
    --black-green: #3f4636;
    --brown: #705f44;
    --dark-brown: #544732;
    --black: #000;
    --dark-green: #465939;

    /* Logo / Quicksand Font*/
    --quicksand: 'Quicksand', sans-serif;
    --logo: 36px var(--quicksand) var(--dark-green);

    /* DM Sans Fonts */
    --dm-sans: 'DM Sans', sans-serif; 

    --font-heading: 32px var(--dm-sans); 
    --font-subheading: 20px var(--dm-sans);
    --font-button: 20px var(--dm-sans);
    --font-body: 16px var(--dm-sans);
    --font-small-body: 12px var(--dm-sans);
}


body {
    /* margin: 0; */
    background-color: var(--background-gray);
}