.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  width: 100%;
}

.logo{
  margin: 108px 0 70px 0;
}

.tranquify {
  margin-bottom: 70px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 24px;
}

.linkContainer {
  margin-top: 45px;
}