.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  width: 100%;
}

.logo{
  width: 218px;
  height: 218px;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin: 108px 0 27px 0;
}

.tranquify {
  margin-bottom: 70px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 24px;
}