.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logInText {
    margin: 106px 0 30px 0;
}

.logInButton {
    margin: 24px 0 32px 0;
}

.division {
    display: flex;
    flex-direction: row;
  
}

.otherLogin {
    display: flex;
    gap: 41px;
    margin: 17px 0 49px 0;
}

.facebook {
    background-color: #0078FF;
    padding: 17px;
    border-radius: 10px;
    display: flex;
}

.apple {
    background-color: var(--black);
    padding: 17px;
    border-radius: 10px;
    display: flex;
}

.google {
    background-color: var(--white);
    padding: 17px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    display: flex;
}

.lineContainer {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.line {
    width: 92px;
    border: 1px solid var(--dark-brown);
}

.noAccount {
    margin: 0 0 5px 0;
}

.errorMessage p{
    color: red;
    font-size: var(--font-small-body);
    margin: -15px 0 12px 0;
}   