.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categoryTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin: auto 24px;
}
.categoryTitle h2{
    font-size: var(--font-subheading);
}
.meditationCardsOuterContainer {
    overflow-y: auto;
    min-height: 595px;
    max-height: 595px;
    background-color: var(--normal-green);
}
.meditationCardsInnerContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    padding-bottom: 94px;
}