.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meditation {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 432px;
    border-radius: 30px;
    margin: 22px 0 18px 0;
    padding: 86px 68px 48px 68px;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: var(--font-subheading);
    font-weight: bold;
}
.saveIcon {
    width: 30px;
    margin: 10px 0 0 0;
}
.textContainer p {
    font-size: var(--font-small-body);
}
/* button */
.button {
    width: 280px;
    height: 64px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-green);
    font-size: var(--font-button);
    font-weight: bold;
    text-align: center;
    font-family: 'DM Sans', sans-serif; 
}

.button:hover {
    background-color: var(--normal-green);
    color: var(--white);
}

.button:active {
    background-color: var(--dark-green);
    color: var(--white);
}

.buttonText {
    text-decoration: none;
    color: var(--black);
}