.container {
    /* This could goes to global css*/
    max-width: 430px;
    max-height: 932px;
    margin: 0 auto;
}
.message {
    font-size: var(--font-subheading);
    width: 273px;
    margin: 0 auto;
    text-align: center;
}
.subheading {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.subheading h1{
    font-size: var(--font-subheading);
}
.meditationCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 41px;
}
.categoryCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }
  .overlayInnerContainer {
    margin: 1rem;
    color: var(--white);
  }
