.backButton {
    margin: -80px 0 10px 45px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categoryTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin: auto 24px;
}
.categoryTitle h2{
    font-size: var(--font-subheading);
}
.menuContainer {
    overflow-x: auto;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 14px auto;
}
.tabButton {
    width: 82px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: var(--white);
    font-size: var(--font-body);
    font-family: 'DM Sans';
}
.meditationCardsOuterContainer {
    overflow-y: auto;
    min-height: 595px;
    max-height: 595px;
    background-color: var(--normal-green);
}
.meditationCardsInnerContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    padding-bottom: 94px;
}