.closeButton {
    margin-left: 40px;
  }
  
.moodContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moodContainer h2 {
    font-size: var(--font-subheading);
}
.moodContainer p {
    font-size: var(--font-body);
}
.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 20px 14px;
    background-color: var(--white);
    border-radius: 30px;
    width: 390px;
    height: 566px;
}
.singleQuiz {
    margin: -5px;
}
.singleQuiz h2 {
    text-align: center;
}
.errorMessageContainer {
    background-color: rgba(0, 0, 0, 0.30);;
    width: 430px;
    height: 932px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorMessage {
    width: 280px;
    height: 100px;
    border-radius: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 39px 36px;
}