.main {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;
    width: 100%; */
}

.popupWrapper {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .moreSettings {
      font-size: var(--font-subheading);
      margin: 48px 121px 0 121px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-family: var(--font-small-body);
  }
  