.popupWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;

    width: 430px;
    height: 932px;
    margin: auto; 
  }
  
  .closeButton {
    margin-left: 20px;
  }
  
  .moreSettings {
    font-size: var(--font-subheading);
    margin: 0 121px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-family: var(--font-small-body);
  }

  


  