.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpText {
    margin: 106px 0 30px 0;
}

.signUpButton {
    margin: 24px 0 32px 0;
}

.haveAccount {
    margin: 0 0 5px 0;
}

.errorMessage p{
    color: red;
    font-size: var(--font-small-body);
    margin: -15px 0 12px 0;
}   