.button {
    width: 280px;
    height: 64px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-beige);
    color: var(--black);
    font-size: var(--font-button);
    font-weight: bold;
    text-align: center;
    font-family: 'DM Sans', sans-serif; 
}

.button:hover {
    background-color: var(--brown);
    color: var(--white);
}

.button:active {
    background-color: var(--dark-brown);
    color: var(--white);
}
